*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}


#sky{
    width: 100vw;
    height: 45%;
    margin-top: 0px;
    position: absolute;
    top: 3px;
    z-index: 1;
    transition: 3s;
    
}

#grass{
    width: 100vw;
    height: 65%;
    margin-bottom: 0px;
    position: absolute;
    bottom: 3px;transition: 3s;
}

#hut{
    position: absolute;
    bottom: 180px;
    left: 660px;
    width: 900px;
    height: 350px;
    z-index: 3;
    transition: 3s;
}

#dog{
      position: absolute;
    bottom: 210px;
    left: 350px;
    width: 170px;
    height: 100px;
    z-index: 2;
    transition: 6.5s;
}


#tree{
      position: absolute;
    top: 190px;
    left: 90px;
    width: 120px;
    height: 280px;
    z-index: 2;
    transition: 3s;
}


#moon{
      position: absolute;
    top: 60px;
    transform: translateX(2200px);
    width: 100px;
    height: 100px;
    z-index: 2;
    transition: 10s;
}



#birds{
      position: absolute;
    top: 60px;
    left: 700px;
    width: 350px;
    height: 120px;
    z-index: 2;
    transition: 3s;
}



#water{
    width: 100vw;
    height: 20%;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    transition: 3s;
    
}


